*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color:#081b31 ;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
    /* opacity: 50%;          blurrness of image , we can also make border-radius :50% and assign a backgroundcolor in choice:hover for better experience insted of opacity*/ 
}



img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;

}

#user_score,#comp_score{
    font-size: 4rem;
}


.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}